@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

/* ОБЩИЕ СТИЛИ */
body {
  background-color: #ffffff;
  color: #757575;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* КО ВСЕМ Н2 */
.title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding: 15px 0;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 25px 0;
  }
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.logo--colored {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav__link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__link:hover, .header-nav__link:focus {
    color: #2196f3;
  }
  .header-nav__link::after {
    position: absolute;
    bottom: -30px;
    content: "";
    display: block;
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav__link:hover::after, .header-nav__link:focus::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .header-nav__link--current {
    color: #2196f3;
  }
  .header-nav__link--current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media screen and (min-width: 768px) {
  .header-nav__item {
    position: relative;
  }
  .header-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-info {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-info__link {
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    -webkit-transition: color 250ms, border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms, border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-info__link:hover, .header-info__link:focus {
    color: #2196f3;
  }
  .header-info__icon-envelope {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
  .header-info__icon-smartphone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-info__item:not(:last-child) {
    margin-right: 50px;
  }
}

.hero {
  background-color: #2f303a;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 60px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/bgimg-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bgimg-mobile.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/bgimg-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bgimg-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/bgimg-desctop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bgimg-desctop.jpg");
  }
}

.hero__title {
  color: #ffffff;
  width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__button {
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.advantages {
  background-color: #ffffff;
  padding-top: 94px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  width: 270px;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__icon-container {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__points {
  color: #212121;
  margin-top: 30px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.advantages__description {
  margin-top: 10px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.proposal {
  background-color: #ffffff;
}

.proposal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.proposal__photo {
  position: relative;
}

.proposal__photo:not(:last-child) {
  margin-right: 30px;
}

.proposal__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.additional-title {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.worker {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.worker:not(:last-child) {
  margin-right: 30px;
}

.worker__description {
  padding: 30px 32px;
}

.worker__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.worker__busyness {
  line-height: 19px;
  text-align: center;
}

/* СПИСОК СОЦСЕТЕЙ */
.worker-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.worker-network__item:not(:last-child) {
  margin-right: 10px;
}

.worker-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-network__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.worker-network__link:hover, .worker-network__link:focus {
  background-color: #2196f3;
}

.worker-network__link:hover .worker-network__icon,
.worker-network__link:focus .worker-network__icon {
  fill: #ffffff;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

/* ФИЛЬТР ПРЕДЛОЖЕНИЙ */
.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* ТЕКУЩАЯ КНОПКА */
}

.btn-list__btn {
  background-color: #eeeeee;
  color: #212121;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list__btn--current {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list__item:not(:last-child) {
  margin-right: 8px;
}

.btn-list__btn:hover, .btn-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.card-list__item {
  margin-bottom: 30px;
}

.card-list__link {
  max-width: 370px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.card-list__image {
  max-width: 100%;
  height: auto;
}

.card-list__description {
  padding: 20px 24px;
}

.card-list__name {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.card-list__text {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
}

.card-list__item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.card-list__item:nth-child(7), .card-list__item:nth-child(8), .card-list__item:nth-child(9) {
  margin-bottom: 0;
}

.card-list__item:hover, .card-list__item:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ОВЕРЛЕЙ АНИМАЦИЯ */
.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(295px);
          transform: translatey(295px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay__about {
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.card-list__item:hover .card-overlay__wrapper,
.card-list__item:focus .card-overlay__wrapper {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 12px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  color: #ffffff;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

/* АДРЕСС КОМПАНИИ */
.address__list {
  margin-top: 20px;
  margin-right: 70px;
}

.address__link--colored {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 9px;
  text-decoration: none;
  font-style: normal;
}

/* СОЦСЕТИ КОМПАНИИ */
.company-network {
  margin-right: 93px;
}

.company-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.company-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-network__item:not(:last-child) {
  margin-right: 10px;
}

.company-network__icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.company-network__link:hover, .company-network__link:focus {
  background-color: #2196f3;
}

.company-network__link:hover .company-network__icon,
.company-network__link:focus .company-network__icon {
  fill: #ffffff;
}

/* ФОРМА ФУТЕРА */
.subscribe__form {
  margin-top: 20px;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196f3;
  color: #ffffff;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* ФОРМА МОДАЛКИ */
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__button:hover .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__container {
  position: relative;
  margin-bottom: 28px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:focus-visible {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: #2196f3;
}

.comment {
  margin-bottom: 20px;
}

.comment__input {
  height: 120px;
  padding: 12px 16px;
}

textarea {
  resize: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-bottom: 30px;
}

.policy__label {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.policy__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.policy__input:checked + .policy__icon-box {
  fill: transparent;
  background-image: url("../images/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
}

.policy__icon-box {
  width: 16px;
  height: 15px;
}

.policy__link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal-form__button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196f3;
  color: #ffffff;
}

.modal-form__button:hover, .modal-form__button:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  padding-bottom: 48px;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.open-menu {
  background-color: transparent;
  border: none;
}

.open-menu__icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu__icon:hover, .open-menu__icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .open-menu {
    display: none;
  }
}

.close-menu {
  display: block;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.close-menu__icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu__icon:hover, .close-menu__icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .close-menu {
    display: none;
  }
}

.mobile-nav__item {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__link:hover {
  color: #2196f3;
}

.mobile-nav__link--current {
  color: #2196f3;
}

.mobile-info {
  margin-bottom: 64px;
}

.mobile-info__item {
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mobile-info__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-info__link {
  text-decoration: none;
  font-size: 24px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-info__link:hover {
  font-size: 34px;
  line-height: 40px;
  color: #2196f3;
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mobile-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-network__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.mobile-network__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-network__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-network__link {
  text-decoration: none;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */