@import "./utils/variables";
@import "./components/base-style";
@import "./components/header";
@import "./components/hero-section";
@import "./components/advantages";
@import "./components/proposal";
@import "./components/team";
@import "./components/clients";
@import "./components/btn-filter";
@import "./components/cards";
@import "./components/footer";
@import "./components/modal";
