html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* ОБЩИЕ СТИЛИ */

body {
  background-color: $white;
  color: $text-color;

  margin: 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;

  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $-bp-tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $-bp-desktop) {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $-bp-desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* КО ВСЕМ Н2 */

.title {
  color: $title-color;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
