.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  margin-top: 40px;

  @media screen and (max-width: $-bp-tablet) {
    margin-top: 14px;
  }

  @media screen and (min-width: $-bp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (max-width: $-bp-desktop) {
    margin-top: 34px;
  }

  &__item {
    width: 100%;
    margin-bottom: 30px;

    &:nth-child(9) {
      margin-bottom: 0;
    }

    @media screen and (min-width: $-bp-tablet) {
      width: calc((100% - 30px) / 2);

      &:nth-child(odd) {
        margin-right: 30px;
      }

      &:nth-child(9) {
        margin-right: auto;
      }
    }

    @media screen and (min-width: $-bp-desktop) {
      width: calc((100% - 60px) / 3);
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(8) {
        margin-right: 0;
      }

      &:not(:nth-child(3n + 3)) {
        margin-right: 30px;
      }

      &:nth-child(7),
      &:nth-child(8) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    border: 1px solid #eeeeee;
    cursor: pointer;
    text-decoration: none;
    display: block;
    height: 100%;
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__description {
    padding: 20px 24px;
  }

  &__name {
    color: $title-color;

    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
  }

  &__text {
    color: $text-color;

    font-size: 16px;
    line-height: 30px;
  }
}

/* ОВЕРЛЕЙ АНИМАЦИЯ */

.card-overlay {
  position: relative;
  overflow: hidden;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translatey(295px);
    transition: transform 250ms $animation-function;
  }

  &__about {
    color: $white;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
  .card-list__item:hover &__wrapper,
  .card-list__item:focus &__wrapper {
    transform: translatey(0);
  }
}
