.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    @media screen and (min-width: $-bp-desktop) {
      margin-top: 50px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;

    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;

    transition: border 250ms $animation-function;
  }

  &__item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(5),
    &:nth-child(6) {
      margin-bottom: 0;
    }

    width: calc((100% - 30px) / 2);

    @media screen and (min-width: $-bp-tablet) {
      &:nth-child(2n) {
        margin-right: 30px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(4) {
        margin-bottom: 0;
      }
      width: calc((100% - 30px * 2) / 3);
    }

    @media screen and (min-width: $-bp-desktop) {
      width: calc((100% - 30px * 5) / 6);
      &:nth-child(3n) {
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    transition: fill 250ms $animation-function;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $accent;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent;
  }
}
