.hero {
  background-color: $brand-color;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/backgroundimg.jpg");
  background-position: center;
  background-size: cover;

  &__title {
    color: $white;

    width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__button {
    background-color: $accent;
    color: $white;

    padding: 10px 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    border: none;
    border-radius: 4px;

    cursor: pointer;
  }
}
