$white: #ffffff;
$main-white: #e5e5e5;
$grey: #eeeeee;
$grey-color: #f5f4fa;
$accent: #2196f3;
$brand-color: #2f303a;
$text-color: #757575;
$title-color: #212121;
$footer-white: rgba(255, 255, 255, 0.6);
$grey-icon: #afb1b8;
$modal-overlay: rgba(0, 0, 0, 0.2);
$close-button: rgba(0, 0, 0, 0.1);
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);